
  body {
    padding: 4em;
    background: #e5e5e5;
    font: 13px/1.4 Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode",
      Verdana, sans-serif;
  }
  label {
    display: block;
  }
  input{
    background-color: #fff;
    padding: 3px 5px;
    width: 190px;
  }
.guide{
    background-color:#479ed8;
    font-size: 25px;
    color: white;
    font-family: sans-serif;
    width: 100%;
}
.tab { 
    width:60%;
    margin-left: 12%;
} 
table {
    margin-top: 30px;
    width: 80%;
    margin-left:40px;
  }
td {
    text-align: left;
    padding: 8px;
    font-size:20px;
    left: 10%;
    width:30%;
} 
th {
    background-color: #479ed8;
    color: white;
    border-color: black;

  }
.edit_2{
    font-family: sans-serif;
    font-size:30px;
    position:fixed;
    box-sizing: border-box;
    background-color: #d7eaf7;
    position: absolute;
    top:29%;
    width: 50%;
    left:45%;
    height: 40%;
    box-shadow: 5px 5px 5px 5px rgb(79, 188, 231);
}
.des_2{
    background-color: #479ed8;
    font-size: 25px;
    font-family: sans-serif;
    color: white;
    margin-top:28%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width:100%;
}