.box3b{
    background-color:#479ed8;
    font-size: 25px;
    color: white;
    font-family: sans-serif;
    width: 100%;
}
.tab { 
    width:60%;
    margin-left: 12%;
} 
table {
    margin-top: 30px;
    width: 80%;
    margin-left:40px;
  }

th, td {
    text-align: left;
    padding: 8px;
    font-size:20px;
    left: 10%;
    width:40%;
}
  
th {
    background-color: #479ed8;
    color: white;
    border-color: black;

  }
.edit3b{
    position:fixed;
    box-sizing: border-box;
    background-color: #d7eaf7;
    position: absolute;
    top:29%;
    width: 50%;
    left:45%;
    height: 40%;
    box-shadow: 5px 5px 5px 5px rgb(79, 188, 231);
}

.input3b{
    font-size:20px ;
    height:25px;width: 200px;
}
.image3b{
position:absolute;
top: 29%;
left: 13%;
width :25%;
}
.textbox3b{
    text-align: center;
    font-family:sans-serif;
    color: white;
    font-size:25px;
    background-color: #479ed8;   
    margin-top:28%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width:100%;
}